html, body {
  font-family: helvetica, arial, sans-serif;
}

@import '_movie-list';
@import '_movie-adder';

// Page positioning containers

.main-container {

  display: table;
  height: 90vh;

  .left-col, .right-col {
    display: table-cell;
    vertical-align: middle;
    float: none;
  }

  .left-col {
    // background-color: #991100;
    background-color: black;
    color: white;
  }

  .right-col {
    .content {
      margin: 0 auto;
      width: 80%;
    }
  }

}//main-container

.divider {
  text-align: center;
  font-size: 5em;
  color: #FFCC00;
}

.load-json {
  cursor: pointer;
}

// Movie Adder Container
